
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>İletişim Bilgileri</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>



<body>
    <center>
        <div class="row">
            <div style="float:left; width:70%;">
                <img src="~/web/images/iletişimwalpaper.jpg" style="width:900px; height:500px; margin-top:50px; margin-bottom:50px; margin-left:50px;" />
            </div>
            <div style="float:right; width:30%; margin-top:50px; margin-bottom:50px; margin-left:0px;">
                <br /><br /><br />
                <h3>Adres</h3>
                <p>
                    Düzce Üniversitesi Konuralp Yerleşkesi Konuralp<br />
                    Merkez/Düzce<br />
                    81620
                </p>
                <br /><br /><br />
                <h3>E-Mail</h3>
                <a href="#">mmelisa.ak.53@gmail.com</a><br />
                <a href="#">fisun.sarikaya@gmail.com</a><br />
                <a href="#">kubraselcuk-25@hotmail.com</a>
                <br /><br /><br /><br />
                <a><img src="~/web/images/facebook.png" style="width:40px; height:40px;" /></a>
                <a><img src="~/web/images/instagram.png" style="width:40px; height:40px;" /></a>
                <a><img src="~/web/images/linkedin.png" style="width:40px; height:40px;" /></a>
                <a><img src="~/web/images/pinterest.png" style="width:40px; height:40px;" /></a>
                <a><img src="~/web/images/twitter.png" style="width:40px; height:40px;" /></a>
            </div>
        </div>
        
    </center>
    
    
   


</body>
</html>

